:root {
	--clr-white: hsl(0 0% 100%);
	--clr-neutral-100: hsl(0 0% 95%);
	--clr-neutral-200: hsl(0 0% 82.5%);
	/* --clr-neutral-400: hsl(0 0% 60%); */
	/* --clr-neutral-800: hsl(0 0% 17.5%); */
	--clr-neutral-900: hsl(0 0% 7.5%);

	--clr-blue-400: hsl(198 78% 60%);

	--clr-red-500: hsl(0 90% 50%);

	--clr-green-300: hsl(134 100% 75%);

	--clr-orange-300: hsl(37 89% 70%);

	--clr-pink-500: hsl(336 83% 50%);

	--ff-primary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--fs-mid: 0.875rem;
	--fs-reg: 1rem;
	--fs-large: 1.65rem;
	--fw-600: 600;
	--fw-700: 700;

	--size-1: 0.375rem;
	--size-2: 0.5rem;
	--size-3: 0.875rem;
	--size-4: 1rem;

	--background: var(--clr-neutral-100);
	--color-primary: var(--clr-neutral-900);
	--color-accent: var(--clr-pink-500);
}

/* RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
img,
picture,
svg {
	display: block;
	max-width: 100%;
}

/* CUSTOM STYLES */
body {
	color: var(--color-primary);
	font-family: var(--ff-primary);
	font-size: var(--fs-reg);
	line-height: 1.4;

	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "header" "main" "footer";
	min-block-size: 100svh;
	/* align-items: stretch; */
}
header {
	grid-area: "header";

	border-bottom: 1px solid var(--color-primary);
	line-height: 1;
	padding: var(--size-2);

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--size-4);
}
main {
	grid-area: "main";
}
footer {
	grid-area: "footer";
}

/* HEADER STYLES */
.logo {
	display: flex;
	gap: var(--size-1);
	align-items: center;

	& .brand {
		font-size: var(--fs-large);
		font-weight: var(--fw-700);
	}

	& svg .board-1 {
		stroke: var(--color-primary);
	}
	& svg .board-2 {
		stroke: var(--color-accent);
	}
}
.slogan {
	font-weight: var(--fw-600);
	text-align: right;

	& span {
		color: var(--color-accent);
	}
}
@media (max-width: 768px) {
	.slogan {
		font-size: var(--fs-mid);
	}
}

.container {
	padding: var(--size-4);
}

/* BOARD STYLES */
.board {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
	height: 100%;
	gap: var(--size-4);
}
@media (min-width: 900px) {
	.board {
		grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
		grid-template-rows: auto;
	}
}

.list {
	background: var(--background);
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}
.list-header {
	padding: var(--size-1) var(--size-3) var(--size-2);
	display: flex;
	align-items: center;
	justify-content: space-between;

	& .list-name {
		font-size: 1.25rem;
		font-weight: var(--fw-600);
	}
}
.list-new {
	--list-color: var(--clr-blue-400);
	& .list-header {
		background: var(--list-color);
	}
	& .card {
		border-color: var(--list-color);
	}
}
.list-backlog {
	--list-color: var(--clr-orange-300);
	& .list-header {
		background: var(--list-color);
	}
	& .card {
		border-color: var(--list-color);
	}
}
.list-active {
	--list-color: var(--clr-green-300);
	& .list-header {
		background: var(--list-color);
	}
	& .card {
		border-color: var(--list-color);
	}
}
.list-overdue {
	--list-color: var(--clr-red-500);
	& .list-header {
		background: var(--list-color);
	}
	& .card {
		border-color: var(--list-color);
	}
}
.list-completed {
	--list-color: var(--clr-pink-500);
	& .list-header {
		background: var(--list-color);
	}
	& .card {
		border-color: var(--list-color);
	}
}

.card-content {
	margin-block: var(--size-3);
	padding: var(--size-2);
}
.card {
	background-color: var(--clr-white);
	border-top: 8px solid currentColor; /* Might switch to left */
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: var(--size-4);
	padding: var(--size-1) var(--size-3) var(--size-2);
	transition:
		transform 0.2s,
		box-shadow 0.2s,
		outline 0.2s;
	cursor: grab;
}
.card:active {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	outline: 2px solid var(--color-accent);
	transform: scale(0.95);
	cursor: grabbing;
}

.list.over {
	background-color: var(--clr-neutral-200);
}

.toast {
	position: fixed;
	bottom: 60px;
	right: 0;
	background: #333;
	border-radius: var(--size-4);
	color: #fff;
	padding: var(--size-4);
	transform: translateX(100%);
	transition:
		transform 0.5s,
		opacity 0.5s;
}
.toast-hidden {
	opacity: 0;
}
.toast-show {
	opacity: 1;
	right: 20px;
	transform: translateX(0%);
}
